#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
}

#pokedex a {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid #ddd;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
  color: #fff;
  /* título fica visível sobre a cor */
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
}

#pokedex a:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

#pokedex img {
  height: 96px;
  image-rendering: pixelated;
  margin-bottom: 8px;
  width: 96px;
}

#pokedex a::after {
  margin-top: 4px;
  content: attr(title);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.voltar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  /* cor do botão */
  color: #fff;
  /* cor do texto */
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}