
.normal{
    background-color: #929DA3;
}
.grass{
    background-color:  #63BC5A;
}
.fire{
    background-color:   #FF9D55;
}
.water{
    background-color:  #5090D6;
}
.electric{
    background-color: #F4D23C;
}
.ground{
    background-color: #D97845;
}
.rock{
    background-color:   #C5B78C;
}
.steel{
    background-color:  #5A8EA2;
}
.psychic{
    background-color: #FA7179;
}
.flying{
    background-color: #8FA9DE;
}
.dragon{
    background-color: #0B6DC3;
}
.ice{
    background-color:    #73CEC0;
}
.ghost{
    background-color:  #5269AD;
}
.dark{
    background-color:#5A5465;
}
.poison{
    background-color:#AA6BC8;
}
.bug{
    background-color:#91C12F;
}
.fairy{
    background-color:#EC8FE6;
}
.fighting{
    background-color: #CE416B;
}

.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon{
    margin: 0.5rem;
    padding: 0.5rem;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 4px 4px grey);
}

.pokemon .number{
    text-align: right;
    color: #000;
    opacity: 0.4;
    font-size: 0.75rem;
}

.pokemon .name{
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
}

.pokemon .details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.pokemon .details img{
    max-width: 100px;
    height: 80px;
    align-self: flex-end;
    filter: drop-shadow(1px 1px 3px black);
}

.pokemon .details .types{
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon .details .types .type{
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0.3rem 0;
    font-size: 0.6rem;
    text-transform: capitalize;
    filter: brightness(0.92);
}

.pagination{
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem 0.2rem 0.5rem;
}

.pagination button{
    background-color: #f5f5f5;
    border-radius: 0.3rem;
    border: none;
    filter: drop-shadow(2px 4px 4px grey);
}

/* SIVE I */
@media screen and (min-width: 385px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

/* SIVE II */
@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* SIVE III */
@media screen and (min-width: 768px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* SIVE IV */
@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* MAX SIZE */
@media screen and (min-width: 1200px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}